option_settings:
  aws:elasticbeanstalk:application:environment:
    SESSION_SECRET: "57c682f10a4812d2687275a2dde6541fd90dd6b5ed73ee9efd798d684b66f186"
    SESSION_COOKIE_SECURE: "false"
    INITIAL_ADMIN_EMAIL: "admin@sistemaemalog.com.br"
    INITIAL_ADMIN_USERNAME: "admin"
    INITIAL_ADMIN_PASSWORD: "1i8blk2uRyAA663Q"
    EVOLUTION_API_URL: "https://evolution-evolution.iqutxq.easypanel.host"
    EVOLUTION_API_KEY: "DDBC7EA2010A-440D-B3CB-349F1D24FFE7"
    EVOLUTION_INSTANCE: "outra"
